@*
    @model IEnumerable<WebApp_MVC_Assignment4.Models.City>
*@
@model WebApp_MVC_Assignment4.Models.ViewModels.CreateCityViewModel

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.States)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CityList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.States)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
