@model WebApp_MVC_Assignment4.Models.ViewModels.CreateCountryViewModel

<p>
    <a asp-action="CreateCountry">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CountryList) 
{
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CountryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CountryId }) |
                @Html.ActionLink("Details", "CountryDetails", new { id = item.CountryId }) |

            </td>
        </tr>
}
    </tbody>
</table>
