@model Person
@*--Without AJAX
    <tr>
        <th scope="col">@Model.FirstName</th>
        <th scope="col">@Model.LastName</th>
        <th scope="col">@Model.PhoneNumber</th>
        <th scope="col">@Model.Address</th>
        <th scope="col">
            <a asp-controller="People" asp-action="DeletePeople" asp-route-id=@Model.PersonID class="btn btn-outline-danger">Remove</a>
        </th>
        <th scope="col">
            <a asp-controller="People" asp-action="EditPeople" asp-route-id=@Model.PersonID class="btn btn-outline-dark">Edit</a>
        </th>
    </tr>
*@

@if (Model != null)
{
  string rowid = "personRowID-" + Model.PersonID;
  <div id="@rowid">
    <div class="row">
        <div class="col">@Model.FirstName</div>
        <div class="col">@Model.LastName</div>
        <div class="col">@Model.PhoneNumber</div>
        <div class="col">@Model.Address</div>
        <div class="col">
            <button onclick="GetEditPersonForm('@Url.Action("EditPerson","People")','@Model.PersonID')" class="btn btn-outline-dark">Edit</button>
        </div>
        <div class="col">
            <button onclick="RemovePerson('@Url.Action("RemovePerson","People")','@Model.PersonID')" class="btn btn-outline-danger">Remove</button>
        </div>
    </div>
  </div> 
}
